/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-main-bg: #ffffff;
  --clr-text: #000;
  --clr-saffron: #ff9933;
  --clr-nav-hover: #ff5d2c;
  --clr-green: #138808;
  --clr-underline: #83a4ff;
  --clr-box-shadow: rgba(0, 0, 0, 0.25);

  --fw-200: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-nav-heading: 2rem;
  --fs-nav-links: 1.15rem;
  --fs-600: 1.5rem;
  --fs-500: 1.15rem;
  --fs-400: 1rem;

  --gen-padding: 24px 40px;

  --gen-transition: 0.2s ease-in-out;
}

@media (max-width: 50em) {
  :root {
    --fs-nav-heading: 1.75rem;
    --fs-nav-links: 1rem;
    --fs-600: 1.25rem;
    --fs-500: 0.9rem;
    --fs-400: 0.75rem;
  }
}
body {
  background: rgb(255,209,160);
  background: linear-gradient(180deg, rgba(255,209,160,1) 0%, rgba(255,255,255,1) 64%);
}



/* landing navbar css -start */
.nav-logo{
  width: 60px;
}

.nav-heading{
  display: flex;
  align-items: center;
}

.landing-navbar-container{
  color: white;
}

.landing-nav-top{
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-saffron);
  padding: 20px 40px;
  z-index: 2;
}

.landing-nav-links{
  display: flex;
  align-items: center;
  font-size: var(--fs-nav-links);
}

#check{
  display: none;
}

.landing-nav-ham-btn{
  display: none;
  position: fixed;
  top: 35px;
  right: 45px;
  cursor: pointer;
  z-index: 2;
}

.landing-nav-heading{
  font-size: var(--fs-nav-heading);
}

.landing-nav-list-items{
  padding: 10px;
  margin-right: 5px;
  transition: all 0.5s;
  border-radius: 5px;
}

.landing-nav-list-items:hover{
  background-color: var(--clr-nav-hover);
}

.landing-nav-btn{
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid white;
  margin-left: 10px;
  font-size: var(--fs-nav-links);
  color: white;
  transition: all 0.5s;
}

.landing-nav-btn:hover{
  background-color: white;
  color: var(--clr-saffron);
  font-weight: var(--fs-nav-links);
}

.landing-nav-bottom{
  width: 100%;
  background-color: var(--clr-saffron);
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: fixed;
  transition: all 0.5s;
  top: -100%;
  z-index: 1;
}

.landing-nav-bottom-btn{
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid white;
  font-size: var(--fs-nav-links);
  color: white;
  transition: all 0.5s;
}

.landing-nav-bottom-btn:hover{
  background-color: white;
  color: var(--clr-saffron);
  font-weight: var(--fs-nav-links);
}

.landing-nav-bottom-links{
  text-align: center;
}

.landing-nav-bottom-list-items{
  padding: 10px;
  transition: all 0.5s;
  border-radius: 5px;
}

.landing-nav-bottom-list-items:hover{
  background-color: var(--clr-nav-hover);
}

.landing-nav-bottom-links li{
  margin-bottom: 35px;
}


@media (max-width: 875px){
  .landing-nav-links{
      display: none;
  }

  .landing-nav-ham-btn{
      display: flex;
  }

  #check:checked ~ div{
      top: 72px;
  }
}

/* landing navbar css -end */

.donate-container {
  padding-top: 65px;
}
.heading {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  height: 20px;
  width: 52vw;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  font-size: var(--fs-500);
  align-items: center;
  border: 1px solid rgba(100, 100, 111, 0.2);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  border-radius: 8px;
}
.row {
  border-spacing: 20px;
  margin: 0px 150px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: table-cell;
  width: 300px;
  height: 425px;
  border-radius: 10px;
  margin-bottom: 40px;
  background: white;
}
.card img {
  border-radius: 10px 10px 0 0;
  height: 133px;
}

.card-container p{
  text-align: justify;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-container {
  padding: 2px 16px;
  position: relative;
}
.row3 .card{
  height: 490px;
}
.row3 .card .btn{
  top: 281px;
}



.see-more {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.see-more a {
  text-decoration: none;
  color: #71b96a;
}
.see-more a:hover {
  text-decoration: underline;
}
.achievements-left {
  width: 270px;
  margin: 20px 0;
  /* margin-left: 150px; */
}

.achievements-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  flex-wrap: wrap;
}

.achievements-secondary-heading {
  margin-bottom: 16px;
  font-weight: var(--fw-bold);
}

.achievements-right {
  display: flex;
  margin: 20px 0;
  /* margin-right: 150px; */
  flex-wrap: wrap;
}

.achievements-achievement-card {
  text-align: center;
  padding: 0 20px;
}

.achievements-achievement-img {
  opacity: 0.7;
  height: 100px;
  margin-bottom: 16px;
}

.achievements-achievement-heading {
  margin-bottom: 6px;
}

.achievements-left p a {
  color: var(--clr-accent-light);
  text-decoration: none;
  display: inline-block;
}

.achievements-left p a:hover {
  text-decoration: underline;
}


.btn {
  width: 100%;
  text-align: right;
  margin-top: 1.25rem;
  border: 0;
  /* display: flex;
  justify-content: flex-end; */
  position: absolute;
  left: 186px;
  top: 216px;
}

.btn a {
  display: block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  background: var(--clr-saffron);
  width: max-content;
  padding: 0px 20px;
  border-radius: 4px;
  border: none;
}

.btn a span {
  position: relative;
  z-index: 1;
}

.btn a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--clr-nav-hover);
  transition: all 0.35s;
  border-radius: 4px;
}

.btn a:hover {
  color: #fff;
}

.btn a:hover:after {
  width: 100%;
  border-radius: 4px;
}

.heading-img{
  float: right;
  height: 10vh;
  object-fit: cover;
}

.button{
  font-weight: var(--fw-bold);
}


/* fundraiser footer start */
.fundraiser-footer-container{
  background-color: #138808;
  color: white;
}

.fundraiser-footer-img{
  width: 100%;
}

.fundraiser-footer-content{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.fundraiser-footer-app-promotion {
  width: 300px;
  border-radius: 5px;
}

.fundraiser-footer-social-media{
  display: flex;
  justify-content: space-between;
}

.fundraiser-footer-icon{
  color: white;
  padding: 10px 13px;
  border-radius: 50%;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
}

.fundraiser-footer-twitter-icon{
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.3s;
}

.fundraiser-footer-icon:hover{
  background-color: #064a00;
}
.fundraiser-footer-twitter-icon:hover{
  background-color: #064a00;
}

.fundraiser-footer-col-head{
  margin-bottom: 10px;
}

/* .landing-footer-content-col3 h2{
  text-align: center;
} */

.fundraiser-footer-lists{
  margin-bottom: 10px;
}

.fundraiser-footer-lists:hover{
  text-decoration: underline;
}

.fundraiser-footer-h2-underline{
  margin-bottom: 20px;
  height: 1px;
  width: 28px;
  background-color: white;
  border-radius: 10px;
}

.fundraiser-footer-content-col1{
  padding-bottom: 30px;
}
.fundraiser-footer-content-col2{
  padding-bottom: 30px;
}
.fundraiser-footer-content-col3{
  padding-bottom: 30px;
}
.fundraiser-footer-content-col4{
  padding-bottom: 30px;
}

.fundraiser-footer-points{
  margin-bottom: 20px;
}

.fundraiser-footer-col0-icon{
  margin-right: 10px;
}

.fundraiser-footer-col{
  margin-right: 20px;
}

/*fundraiser footer end*/